:root {
  font-family: sans-serif;
}

* {
  /* outline: 1px solid red; */

}


.counter-btn {
  padding: 1rem;
  /* transition: all 500ms linear 50ms; */
  border: none;
  transition: background-color 500ms linear 50ms,color 500ms linear 50ms;

}

.counter-btn:hover {
  background-color: black;
  color: white;

}

.glowing {
  animation: dilateSize 5s ease-in-out 0s infinite alternate;
  transform-origin: center;

}


@keyframes dilateSize {
  from {
    transform: scale(1.3);
  }


  to {
    transform: scale(1);
  }

}